.dashboard-main {
  margin-left: 170px; 
  min-height: 100vh;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 35%;
  overflow: hidden;
}

@media (max-width: 720px) {
  .dashboard-main {
    margin-left: 45px; 
    border-top-right-radius: 10%;
    border-bottom-right-radius: 35%;
  }
}

.dashboard {
  padding: 64px 24px;
  text-align: center;
}

.dashboard-title {
  font-size: 2rem;
  margin-bottom: 16px;
}

.dashboard-welcome {
  color: var(--color-gray-600);
}